.main{
    margin-top: 100px;
    text-align: center;
}

.search{
    line-height: 24px;
    width: 400px;
    display: block;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px;
    border-color: #dfe1e5;
    border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
}
.logo{
    width: 300px;
    display: block;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
        }
  .button{
    
    margin-top: 70px;
    border-radius: 5px;
    border: none;
    border-color: #dfe1e5;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #dfe1e5\s;


            
  }

    